<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Static/css/sidebar.css">
    <link rel="stylesheet" href="../../Static/css/addrecord.css">
    <link rel="preconnect" href="https:/fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" 
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" 
  integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
   
</head>
<body>
   <!-- {%extends sidebarhtml %} -->
  <div class="main-container mt-3 mx-3">
    
    <div class="row row-bordered">
  <h1 class="font-weight-bold text-primary">New Record</h1>
   </div>

    <div class="container mt-5">
      <h4 class="font-weight-bold text-primary">Personal Information</h4>
      <div class="row">
        <div class="col">
          <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input name="FirstName" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
              required>
          </div>
        </div>
        <div class="col">
          <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
            <input name="MiddleName" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
              required>
          </div>

        </div>
        <div class="col">
          <div class="m-3">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input name="LastName" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
              required>
          </div>
        </div>

        <div class="col">
          <div class="m-3">
            <form method="post">
              <label for="exampleFormControlInput1" class="form-label">Gender</label> <br>
              <input name="Gender" type="radio" name="Gender" value="female" required> Female <br>
              <input name="Gender" type="radio" name="Gender" value="male" required> Male
            </form>

          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class=m-3>
              <label for="exampleFormControlInput1" class="form-label">Birthdate</label>
              <input name="Birthdate" type="string" class="form-control" id="exampleFormControlInput1"
                placeholder="YYYY/MM/DD">
            </div>
          </div>

          <div class="col-4">
            <div class=m-3>
              <label for="exampleFormControlInput1" class="form-label">Patient ID</label>
              <input name="Patient ID" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
                required>
            </div>
          </div>
          
          <div class="col-4">
            <div class=m-3>
              <label for="exampleFormControlInput1" class="form-label">Social Security Number</label>
              <input name="SSN" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
                required>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-4">
            <div class=m-3>
              <label for="exampleFormControlInput1" class="form-label">Insurance Provider</label>
              <input name="Insurance" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
                required>
            </div>
          </div>
          <div class="col-4">
            <div class="m-3">
              <label for="exampleFormControlInput1" class="form-label">Age</label>
              <input name="Age" type="string" class="form-control" id="exampleFormControlInput1"
                placeholder="">
            </div>
          </div>
        </div>



        <div class="container ">

          <h4 class="font-weight-bold text-primary">Contact Information</h4>
          <div class="row">
            <div class="col-4 m-3">
              <label for="exampleFormControlInput1" class="form-label">Address</label>
              <input name="Address" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
                required>
            </div>
            <div class="col-4 m-3">
              <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
              <input name="PhoneNumber" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
                required>
            </div>
            <div class="col-4 m-3">
              <label for="exampleFormControlInput1" class="form-label">Emergency Contact</label>
              <input name="PhoneNumber" type="string" class="form-control" id="exampleFormControlInput1" placeholder=""
                required>
            </div>
           
          </div>
        </div>

      </div>
      <div class="m-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  </div>
</body>

</html>