<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Static/css/sidebar.css">
    <link rel="stylesheet" href="../../Static/css/addrecord.css">
    <link rel="preconnect" href="https:/fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>Home Page</title>
        
        <style>
        @media (max-width: 1024px) {
            body {
              display: flex;
              place-items: center;
            }
        }
        </style>
</head>

<body>
    {%if data%}
    <div class="main-container m-5">

        <div class="row row-bordered">
            <h1 class="font-weight-bold text-primary">Home Page</h1>
        </div>

        <h1 class="d-flex justify-content-center mb-5 mt-5"><b>Welcome Receptionist <span
                    class="text-primary">{{data.receptionistfirstname}}</span></b></h1>
        <div class="d-flex flex-wrap justify-content-around w-100">
            <div class="w-75">
                <dl class="row w-100" style="font-size:1.5rem; width: fit-content; ">
                    <dt class="col-sm-4 text-primary">ID</dt>
                    <dd class="col-sm-6">{{data.receptionistid}}</dd>
                    <dt class="col-sm-4 text-primary">Name</dt>
                    <dd class="col-sm-6">{{data.receptionistname}}</dd>
                    <dt class="col-sm-4 text-primary">Age</dt>
                    <dd class="col-sm-6">{{data.receptionistage}}</dd>
                    <dt class="col-sm-4 text-primary">Social Security Number</dt>
                    <dd class="col-sm-6">{{data.receptionistssn}}</dd>
                    <dt class="col-sm-4 text-primary">Gender</dt>
                    <dd class="col-sm-6">{{data.receptionistgender}}</dd>
                </dl>
            </div>
            <div class="shadow border border-primary rounded border-5" style="height: fit-content;">
                <img src="../../Static/images/receptionist.jpg" alt="profile pic" style="height: 300px;">
            </div>
    {% endif %}
</body>

</html>