!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Static/css/sidebar.css">
  <link rel="stylesheet" href="../../Static/css/addrecord.css">
  <link rel="preconnect" href="https:/fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
    <title>Patient Record</title>
</head>
<body >
    <!-- {%block content%} -->
    <div class="m-5">
        <dl class="row display-5">
            <dt class="col-sm-3">Record ID</dt>
            <dd class="col-sm-9">XXXXXXX</dd>
        </dl>
        <fieldset class="border p-2">
            <legend class="text-primary float-none w-auto">Basic Information</legend>
            <dl class="row">
                <dt class="col-sm-3">Name</dt> 
                <dd class="col-sm-9">XXXXXXX</dd>
                <dt class="col-sm-3">Patient ID</dt>
                <dd class="col-sm-9">XXXXXXX</dd>
                <dt class="col-sm-3">Social Security Number</dt>
                <dd class="col-sm-9">XXXXXXXX</dd>
                <dt class="col-sm-3">Birthdate</dt>
                <dd class="col-sm-9">DD/MM/YYYY </dd>
                <dt class="col-sm-3">Age</dt>
                <dd class="col-sm-9">XX</dd>
                <dt class="col-sm-3">Gender</dt>
                <dd class="col-sm-9">XXXX</dd>
                <dt class="col-sm-3">Insurance Provider</dt>
                <dd class="col-sm-9">XXXXXXX</dd>
    </dl>
</fieldset>
<fieldset class="border p-2">
    <legend class="text-primary float-none w-auto">Contact Information</legend>
    <dl class="row">
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">XXXXXXX/dd>
        <dt class="col-sm-3">Email Address</dt>
        <dd class="col-sm-9">xxxx@example.com</dd>
        <dt class="col-sm-3">Phone Number</dt>
        <dd class="col-sm-9">XXXXXXXXX</dd>
        <dt class="col-sm-3">Emergency Contact</dt>
        <dd class="col-sm-9">XXXXXXXXX</dd>
    </dl>
</fieldset>
<fieldset class="border p-2">
    <legend class="text-primary float-none w-auto">Assigned</legend>
    <dl class="row">
        <dt class="col-sm-3">Attending Physician</dt>
        <dd class="col-sm-9">XXXXX</dd>
        <dt class="col-sm-3">Attending Nurse</dt>
        <dd class="col-sm-9">XXXXXX</dd>
        </dl>
    </fieldset>
    <div class="d-flex justify-content-center m-5" >
        <a class="btn btn-primary mx-3">Update Information</a>
    </div>
</div>
<!-- {% endblock %} -->
</body>
</html>