<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Static/css/sidebar.css">
    <link rel="stylesheet" href="../../Static/css/icuinfo.css">
    <link rel="stylesheet" href="../../Static/css/addrecord.css">
    <link rel="preconnect" href="https:/fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <title>ICU Info</title>
</head>

<body>
    <div class="main-container m-5">
        <div class="row row-bordered">
            <h1 class="font-weight-bold text-primary ">ICU Information</h1>
        </div>
        <fieldset class="border p-2">
            <legend class="text-primary float-none w-auto mt-4">ICU Record</legend>
            <dl class="row">
                <dt class="col-sm-3">Admittance date</dt>
                <dd class="col-sm-9">XXXXX</dd>
                <dt class="col-sm-3">Discharge date</dt>
                <dd class="col-sm-9">XXXXXX</dd>
                <dt class="col-sm-3">Attending Physician</dt>
                <dd class="col-sm-9">XXXXX</dd>
                <dt class="col-sm-3">Attending Nurse</dt>
                <dd class="col-sm-9">XXXXXX</dd>
                <dt class="col-sm-3">Diagnosis</dt>
                <dd class="col-sm-9">XXXXXX</dd>

            </dl>
        </fieldset>
        <fieldset class="border p-2">
            <legend class="text-primary float-none w-auto">Prescriptions</legend>
            <dl class="row">
                <div class="row justify-content-center mt-3">
                    <table class="table table-sm" style="width:98%">
                        <thead>
                            <tr>
                                <th scope="col">Medicine Name</th>
                                <th scope="col">Frequency</th>
                                <th scope="col">Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">xxxxx</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">xxxxx</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">xxxxx</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </dl>
        </fieldset>
        <fieldset class="border p-2">
            <legend class="text-primary float-none w-auto mt-4">Payment</legend>
            <dl class="row">
                <dt class="col-sm-3">Bill</dt>
                <dd class="col-sm-9">XXXXXX</dd>

            </dl>
        </fieldset>
    </div>
</body>

</html>