/* .table
    {
    border-collapse: collapse;
    margin-top: 150px;
    font-size: 30px;
    width: 60%;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    }
    
    .table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #0275d8
}*/
.row-bordered {
    position: relative;
  }
  
  .row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }

.table thead tr {
    background-color:#0d6efd;
    color: #ffffff;
} 

@media (min-width: 1024px) {
    body {
      display: flex;
      place-items: center;
    }
}