body {
  font-family: "Poppins", sans-serif;
}
.row-bordered {
    position: relative;
  }
  
  .row-bordered:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }

.table thead tr {
    background-color:#0d6efd;
    color: #ffffff;
} 
tr[data-href]{
  cursor:  pointer;
}

@media (max-width: 1024px) {
    body {
      display: flex;
      place-items: center;
    }
}