body {
    font-family: "Poppins", sans-serif;
}

.table thead tr {
    background-color: #0d6efd;
    color: #ffffff;
}

.table_wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}