{% extends "/admin/adminMain.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <a href="#">
              <h6 class="m-b-20">Nurses</h6>
            </a>
            <br>
            <h2 class="text-right"><i class="fas fa-user-nurse f-left" data-after="{{Stats["number1"]}}" id="nurseicon"></i> 
              
            </h2>
  
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <a href="#">
              <h6 class="m-b-20">Patients</h6>
            </a>
            <br>
            <h2 class="text-right"><i class="fas fa-user-plus f-left" data-after="{{Stats["number2"]}}" id="patienticon"></i></h2>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <a href="#">
              <h6 class="m-b-20">Receptionists</h6>
            </a>
            <br>
            <h2 class="text-right"><i class="fas fa-phone f-left" data-after="{{Stats["number3"]}}" id="Recepicon"></i></h2>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <a href="#">
              <h6 class="m-b-20">Doctors</h6>
            </a>
            <br>
            <h2 class="text-right"><i class="fas fa-user-md f-left" data-after="{{Stats["number4"]}}" id="Doctoricon"></i></h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  

{% endblock %}