{% extends "/Admin/AdminMain.html" %}

{% block addl_css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/AdminPayment.css') }}">

{% endblock %}

{% block content %}
<div class="main-container m-5">
  <!--
  {%with messages = get_flashed_messages()%}
  {%if messages%}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">x</span>
      </button>
      {{message }}
    </div>

  {%endfor%}
  {%endif%}
  {%endwith%}
  -->

    <div class="row row-bordered">
      <h1 class="font-weight-bold text-primary">Payments Info</h1>
    </div>
    <div class="d-flex justify-content-between mt-5">
      <form class="form-inline">
        <div class="d-flex" style="width: 400px;">
          <input class="form-control mr-sm-2 border-primary" type="search" placeholder="Search" aria-label="Search"
            v-model="search" />
          <button class="btn btn-primary my-2 my-sm-0 mx-3 fw-bold border" type="submit" @click.prevent="searchData()">
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="row justify-content-center mt-3">
      <table class="table table-hover table-responsive" style="width:98%">
        <thead>
          <tr>
            
            <th scope="col">Bill ID</th>
            <th scope="col">Patient SSN </th>
            <th scope="col">Total Value </th>
            <th scope="col">Insurance percent </th>
           
          </tr>
        </thead>
        <tbody>
      
    {% for d in Payments.pay %}
         <tr data-href="">
            {% for Dinner in d %}
            <td> {{Dinner}} </td>
             
            {%endfor%}
            <td>
                <a type="button" class="btn btn-outline-primary border border-primary" href=""> <!-- Edit button for DR INFO -->
                  <i class="fa-solid fa-user-pen"></i>
                </a>
              </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
 
  <script src="{{ url_for('static', filename='/AdminPayment.js') }}"></script>
</body>

</html>



{% endblock %}