<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../Static/css/sidebar.css">
  <link rel="stylesheet" href="../../Static/css/managerecords.css">
  <link rel="preconnect" href="https:/fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
<style>
  .table_wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
</style>
</head>

<body>
  <!-- {%extends sidebarhtml %} -->
  <div class="main-container m-5">
      <h1 class="text-primary">Alerts</h1>
      <hr>
    <div class="d-flex justify-content-between">
      <br>
      <form class="form-inline">
        <div class="d-flex flex-row flex-wrap">
          <div style="width: 200px;">
          <input class="form-control mr-sm-2 border-primary" type="search" placeholder="Search" aria-label="Search"
            v-model="search"></div>
            <div>
            <button class="btn btn-primary my-2 my-sm-0 mx-3 fw-bold border" type="submit" @click.prevent="searchData()">
              Search
            </button></div>
        </div>
      </form>
    </div>
    <div class="table_wrapper m-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Record ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Admitted By</th>
            <th scope="col">Reason of Alert</th>
            <th scope="col">Mark as done</th>
          </tr>
        </thead>
        <tbody>
          <tr data-href="patientrecord_dr.html">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Nurse name</td>
            <td>High heart rate</td>
            <td>
              <button type="button" class="btn btn-outline-primary border border-primary">
                <i class="fa-solid fa-check"></i>
              </button>
            </td>
          </tr>
          <tr data-href="patientrecord_dr.html">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>High heart rate</td>
            <td>
              <button type="button" class="btn btn-outline-primary border border-primary">
                <i class="fa-solid fa-check"></i>
              </button>
            </td>
          </tr>
          <tr data-href="patientrecord_dr.html">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>High heart rate</td>
            <td>
              <button type="button" class="btn btn-outline-primary border border-primary">
                <i class="fa-solid fa-check"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll("tr[data-href]");
      rows.forEach(row => {
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        })
      })
    })
  </script>
</body>

</html>