<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bayon' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
            body{
            background-image: url("{{ url_for('static', filename='images/Simple Shiny blue.svg') }}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            animation: gradient 12s infinite alternate linear;
            font-family:'Bayon';
            height: 100vh;
            display: flex;
            align-items: center;
        }
        h1,h3{
            color:white;
        }
            @keyframes gradient {
        100% {
            background-size: 3000px 1500px;
            }
        }
        form{
            background: white;
            box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
            border-radius: 2.5em;
        }
        input,select{
            box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
        }
        img{
            width: 100px;
            height: 100px;
            border-style:solid ;
            border-width: 1px;
            border-color:black ;
            border-radius: 10em;
            align-self: center;
        }
    </style>
    <title>Sign In</title>
</head>
<body>
    <div class="d-flex justify-content-center flex-column container-fluid " style="width:500px; margin: auto;"> 
        {% with messeges =get_flashed_messages() %}
        {% if messeges %}
        {%for messege in messeges%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class='bx bx-error-circle'></i>
            {{messege}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
<h1 class="text-center">SIGN IN</h1>
<div id="user" class="container-fluid " >
    <label for="userchoice"></label>
    <select class="form-select form-select-lg mb-3 " name="userchoice" id="userchoice">
        <option selected disabled>Select Patient or Staff</option>
        <option value="Patient">Patient</option>
        <option value="Staff">Staff</option>
    </select>
</div>

<div id="patient" style="display:none;" class="container-fluid ">
    <form class="p-5" action="http://127.0.0.1:5000/signin" method="POST">
        <h2 class="text-center" style="color: black;">PATIENT SIGN IN</h2>
        <div class="d-flex justify-content-center my-5"><img src="{{ url_for('static', filename='images/profile.png') }}" alt="doctorimg"></div>
        <h4>Enter the following</h4>
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control" name="patientID" placeholder="Patient ID" required>
            <label for="floatingInput">Patient ID</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="patientpassword" placeholder="Password" required>
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="text-center"><input type="submit" value="Sign in" class="btn btn-primary btn-lg" name="patient"></div>
        <br>
        <div class="text-center"><a href="http://127.0.0.1:5000" class=" h6"> Go Back?</a></div>
    </form>
</div>

<div id="staff" style="display:none;" class="container-fluid ">
    <label for="staffchoice"></label>
    <select name="staffchoice" class="form-select form-select-lg mb-3 " id="staffchoice">
        <option selected disabled>Select Job Title</option>
        <option value="Doctor">Doctor</option>
        <option value="Nurse">Nurse</option>
        <option value="Admin">Admin</option>
        <option value="Receptionist">Receptionist</option>
        </select>
    </div>

    <div id="doctorform" style="display:none;" class="container-fluid  my-3">
        <form class="p-5">
                    <h2 class="text-center" style="color: black;">DOCTOR SIGN IN</h2>
            <div class="d-flex justify-content-center my-5"><img src="{{ url_for('static', filename='images/doctor.png') }}" alt="doctorimg"></div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="doctorID" placeholder="Doctor ID" required>
                <label for="floatingInput" id="stafflabel">Doctor ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="doctorpassword" placeholder="Password" id="doctorpassword" required>
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <div class="text-center"><input type="submit" value="Sign in" class="btn btn-primary btn-lg" name="doctor"></div>
            <br>
            <div class="text-center"><a href="http://127.0.0.1:5000" class=" h6"> Go Back?</a></div>
        </form>
    </div>
    
    <div id="nurseform" style="display:none;" class="container-fluid  my-3">
        <form class="p-5">
            <h2 class="text-center" style="color: black;">NURSE SIGN IN</h2>
            <div class="d-flex justify-content-center my-5"><img src="{{ url_for('static', filename='images/nurse.png') }}" alt="doctorimg"></div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Nurse ID" required>
                <label for="floatingInput" name="nurseID" id="stafflabel">Nurse ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="nursepassword" placeholder="Password" id="nursepassword" required>
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <div class="text-center"><input type="submit" value="Sign in" class="btn btn-primary btn-lg" name="nurse"></div>
            <br>
            <div class="text-center"><a href="http://127.0.0.1:5000" class=" h6"> Go Back?</a></div>
        </form>
    </div>
    
    <div id="adminform" style="display:none;" class="container-fluid my-3">
        <form class="p-5">
            <h2 class="text-center" style="color: black;">ADMIN SIGN IN</h2>
            <div class="d-flex justify-content-center my-5"><img src="{{ url_for('static', filename='images/admin.png') }}" alt="doctorimg"></div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="adminID" placeholder="Admin ID" required>
                <label for="floatingInput" id="stafflabel">Admin ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="adminpassword" placeholder="Password" id="adminpassword" required>
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <div class="text-center"><input type="submit" value="Sign in" class="btn btn-primary btn-lg"  name="admin"></div>
            <br>
            <div class="text-center"><a href="http://127.0.0.1:5000" class=" h6"> Go Back?</a></div>
        </form>
    </div>

    <div id="receptionistform" style="display:none;" class="container-fluid my-3">
        <form class="p-5">
                    <h2 class="text-center" style="color: black;">RECPTIONIST SIGN IN</h2>
            <div class="d-flex justify-content-center my-5"><img src="{{ url_for('static', filename='images/receptionist.png') }}" alt="doctorimg"></div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="receptionistID" placeholder="Receptionist ID" required>
                <label for="floatingInput" id="stafflabel">Receptionist ID</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="receptionistpassword" placeholder="Password" id="receptionistpassword" required>
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <div class="text-center"><input type="submit" value="Sign in" class="btn btn-primary btn-lg" name="receptionist"></div>
            <br>    
            <div class="text-center"><a href="http://127.0.0.1:5000" class=" h6"> Go Back?</a></div>
        </form>
    </div>
    </div>
    <script src="{{ url_for('static', filename='signin.js')}}"></script>
</body>
</html>