<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: "Poppins", sans-serif;
        }
    </style>
    <title>Document</title>
</head>
<body class="m-4">
{ % extends "index.html" % }
{%block content%}
<h1 class="text-primary"><b>Laboratory</b></h1>
<div class="accordion m-3" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                    <b>Existing</b>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <table class="table">
                    <tr class="table-primary">
                        <th>File</th>
                        <th>Recieved Date</th>
                    </tr>
                    { % for r in data.rec % }
                    <tr>
                        { % for l in r% }
                            <td> { { l } }</td>
                            { % endfor % }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <b>Pending</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <table class="table">
                <tr class="table-primary">
                    <th>File</th>
                    <th>Recieved Date</th>
                </tr>
                        { % for r in data.rec % }
                        <tr>
                            { % for l in r% }
                            <td> { { l } }</td>
                            { % endfor % }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button onclick="showLabForm()" id="addlabbutton" class="btn btn-primary m-3">Add Existing Lab</button>
    <button  id="reqlab" class="btn btn-primary m-3">Request Lab</button>
    <form action="" method="post" id="addlabform" style="display: none;" class="m-3">
        <input type="file" name="lab" id="lab">
    </form>
    <h1 class="text-primary"><b>Imaging</b></h1>
    <div class="accordion m-3" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                <b>Existing</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            <table class="table">
                <tr class="table-primary">
                    <th>File</th>
                    <th>Recieved Date</th>
                </tr>
                { % for r in data.rec % }
                <tr>
                    { % for l in r% }
                    <td> { { l } }</td>
                    { % endfor % }
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        <b>Pending</b>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <table class="table">
                        <tr class="table-primary">
                            <th>File</th>
                            <th>Recieved Date</th>
                        </tr>
                        { % for r in data.rec % }
                        <tr>
                            { % for l in r% }
                            <td> { { l } }</td>
                            { % endfor % }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <button onclick="showImagingForm()" id="addimg" class="btn btn-primary m-3">Upload Existing Imaging</button>
        <button  id="reqimg" class="btn btn-primary m-3">Request Imaging</button>
        <form action="" method="post" id="addImagingform" style="display: none;" class="m-3">
            <input type="file" name="lab" id="lab">
        </form>
        <script>
            function showLabForm(){
                if(document.getElementById('addlabform').style.display=='none')
                document.getElementById('addlabform').style.display = 'block';
                else
                document.getElementById('addlabform').style.display = 'none';
            }
            function showImagingForm(){
                if(document.getElementById('addImagingform').style.display=='none')
                document.getElementById('addImagingform').style.display = 'block';
                else
                document.getElementById('addImagingform').style.display = 'none';
            }
            </script>
        {% endblock %}
</body>
</html>