<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../Static/css/nurse.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../Static/css/nurse.css">
    <title>Patient labs and scans</title>
</head>
<body>
{ % extends "index.html" % }
{%block content%}
<div class="main-container m-5">
<h1 class="text-primary">Laboratory</h1>
<hr class="mb-4">
<div class="accordion " id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                    <b>Existing</b>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <div class="table_wrapper">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>File</th>
                        <th>Recieved Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    { % for r in data.rec % }
                    <tr>
                        { % for l in r% }
                            <td> { { l } }</td>
                            { % endfor % }
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <b>Pending</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <div class="table_wrapper">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Recieved Date</th>
                    </tr>
                </thead>
                <tbody>
                    { % for r in data.rec % }
                    <tr>
                        { % for l in r% }
                        <td> { { l } }</td>
                        { % endfor % }
                    </tr>
                </tbody>
            </table>
        </div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="showLabForm()" id="addlabbutton" class="btn btn-primary m-3">Upload Existing Lab</button>
    <button  id="reqlab" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Request Lab</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Request Lab</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="Complete blood count">
                    <input type="checkbox" name="Complete blood count" id=""> Complete blood count</label><br>
                    <label for="Basic metabolic panel">
                    <input type="checkbox" name="Basic metabolic panel" id=""> Basic metabolic panel</label><br>
                    <label for="Comprehensive metabolic panel">
                    <input type="checkbox" name="Comprehensive metabolic panel" id=""> Comprehensive metabolic panel</label><br>
                    <label for="Lipid panel">
                    <input type="checkbox" name="Lipid panel" id=""> Lipid panel</label><br>
                    <label for="Thyroid panel">
                    <input type="checkbox" name="Thyroid panel" id=""> Thyroid panel</label><br>
                    <label for="Cardiac biomarkers">
                    <input type="checkbox" name="Cardiac biomarkers" id=""> Cardiac biomarkers</label><br>
                    <label for="Coagulation panel">
                    <input type="checkbox" name="Coagulation panel" id=""> Coagulation panel</label><br>
                    <label for="C-reactive protein test">
                    <input type="checkbox" name=" C-reactive protein test" id=""> C-reactive protein test</label><br><br>
                    <label for="Book Lab Test">Choose date and time: <br>
                        <input type="datetime-local" name="Book Lab Test" id="">
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Request" name="labrequest" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
    <form action="" method="POST" id="addlabform" style="display: none;" class="m-3">
        <div class="input-group mb-3 w-50">
            <input type="file" class="form-control" id="inputGroupFile02">
            <input type="submit" class="btn btn-outline-primary" name="addexistinglab" value="Add">
        </div>
    </form>
    <h1 class="text-primary">Imaging</h1>
    <hr class="mb-4">
    <div class="accordion " id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                <b>Existing</b>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
            <div class="table_wrapper">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Recieved Date</th>
                    </tr>
                </thead>
                <tbody>
                    { % for r in data.rec % }
                    <tr>
                        { % for l in r% }
                        <td> { { l } }</td>
                        { % endfor % }
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        <b>Pending</b>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <div class="table_wrapper">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>Recieved Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            { % for r in data.rec % }
                            <tr >
                                { % for l in r% }
                                <td> { { l } }</td>
                                { % endfor % }
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
        <button onclick="showImagingForm()" id="addimg" class="btn btn-primary m-3">Upload Existing Imaging</button>
        <button  id="reqimg" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#exampleModal2">Request Imaging</button>
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Request Lab</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="CT-Scan">
                            <input type="checkbox" name="CT-Scan" id=""> CT-Scan</label><br>
                        <label for="BMRI">
                            <input type="checkbox" name="MRI" id=""> MRI</label><br>
                        <label for="PET Scan">
                            <input type="checkbox" name="PET Scan" id=""> PET Scan</label><br>
                        <label for="Ultrasound">
                            <input type="checkbox" name="Ultrasound" id=""> Ultrasound</label><br>
                        <label for="X-Ray">
                            <input type="checkbox" name="X-Ray" id=""> X-Ray</label><br>
                        <label for="Sonar">
                            <input type="checkbox" name="Sonar" id=""> Sonar</label><br>
                        <label for="Angiography">
                            <input type="checkbox" name="Angiography" id=""> Angiography</label><br>
                        <label for="ECG">
                            <input type="checkbox" name="ECG" id=""> ECG</label><br><br>
                            <label for="Book Lab Test">Choose date and time: <br>
                                <input type="datetime-local" name="Book Lab Test" id="">
                            </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Request" name="scanrequest" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="POST" id="addImagingform" style="display: none;" class="m-3">
            <div class="input-group mb-3 w-50">
                <input type="file" class="form-control" id="inputGroupFile02">
                <input type="submit" class="btn btn-outline-primary" name="addImagingform" value="Add">
            </div>
        </form>
    </div>
    {% endblock %}
        <script>
            function showLabForm(){
                if(document.getElementById('addlabform').style.display=='none')
                document.getElementById('addlabform').style.display = 'block';
                else
                document.getElementById('addlabform').style.display = 'none';
            }
            function showImagingForm(){
                if(document.getElementById('addImagingform').style.display=='none')
                document.getElementById('addImagingform').style.display = 'block';
                else
                document.getElementById('addImagingform').style.display = 'none';
            }
            </script>
        
</body>
</html>