<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../Static/css/sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet"> 
    <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
      <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">Menu</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="http://127.0.0.1:5000/nursehome">
                <i class='bx bx-home'></i>
              <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
          </li>
          <li>
          <a href="http://127.0.0.1:5000/viewpatients">
            <i class='bx bx-folder-open'></i>
            <span class="links_name">View Patients Records</span>
          </a>
          <span class="tooltip">View Patients Records</span>
        </li>
        <li>
          <a href="http://127.0.0.1:5000/requests">
            <i class='bx bx-export'></i>
            <span class="links_name">Lab/Scan requests</span>
          </a>
          <span class="tooltip">Lab/Scan requests</span>
        </li> 
        <a href="http://127.0.0.1:5000/">
          <li class="Logout1">
          <div class="Logout2">
            <div class="Logout3">
              <div class="name">Log Out</div>
            </div>
          </div>
          <i class='bx bx-log-out' id="log_out"></i>
        </li>
      </a>
        </ul>
      </div>
      <!-- <section class="home-section">
          <div class="text">Home Page</div>
      </section> -->
      
      <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
    
      closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
      });
    
      // following are the code to change sidebar button(optional)
      function menuBtnChange() {
      if(sidebar.classList.contains("open")){
        closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
      }else {
        closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
      }
      }
      </script> 
</body>
</html>

