<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nurse Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <style>
        body{
        font-family: "Poppins" , sans-serif;
      }
      </style>
  </head>
  <body class="m-5">
    { % extends "index.html" % }
    
    <div class="navbarcontent d-flex flex-column" id="nursehome">
      <div class="input-group mb-3 w-25 align-self-end">
        <input type="text" class="form-control" placeholder="Patient ID" aria-label="Recipient's username"
        aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2"> <i class='bx bx-search'></i>Search</button>
      </div>
      <div class="w-100">
        <h3>The following patients are currently in the ICU</h3>
        <table class="table">
          <thead>
            <tr  class="bg-primary text-light">
              <th scope="col">Name</th>
              <th scope="col">Patient ID</th>
              <th scope="col">Bed Number</th>
              <th scope="col">Diagnosis</th>
              <th scope="col">Actions</th>
              
            </tr>
          </thead>
          <tbody>
            { % for r in data.rec % }
            <tr>
              { % for l in r% }
              <td> { { l } }</td>
              { % endfor % }
              <td>
                <a href="" class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="View Record"><i class='bx bx-file' style="font-size: 30px;"></i></a>

                <a href="" class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="View Labs/Scans"><i class='bx bxs-vial' style="font-size: 30px;"></i></a>

                <a href="" class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="View Prescriptions"><i class='bx bxs-capsule' style="font-size: 30px;"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      </script>
      <script src="/Static/navbar.js"></script>
    </body>
    </html>